.card-container {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 12px;
  width: 16rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}
.card-btns{
  padding: 0.5em;
  margin: 0.2em;
  font-size: 14px;
  border: 1px solid var(--primary-color);
  font-weight: 700;
  border-radius: 9px;
  color: var(--primary-color);
}
.card-btns:hover{
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--primary-color);
  transform: 2px;
  transition: 0.3s;
}
