:root {
  /* #ED2939 */
  --primary-color: #ff0800;
  --bg-color: rgb(241 245 249);
  --text-color:#f8fafc;
}
/* common-classes */
.common-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.common-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Navigation layout classes */
.main-container {
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  background-image: url("https://gttp.imgix.net/352610/x/0/14-best-pampanga-restaurants-kapampangan-food-best-sisig-buffet-fine-dining-private-dining-28.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883");
}
.home-layout {
  display: grid;
  grid-template-columns: 1fr 6fr;
  overflow: scroll;
  height: 100vh;
}
.parent-layout {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
}
.main-layout {
  height: 100%;
  background-color: var(--bg-color);
}

/* header */
.header-container {
  color: var(--primary-color);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
}
.header-container h2{
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.header-container span{
  font-size: 1.5rem;
 
}

/* scroll bar */

::-webkit-scrollbar {
  width: 0.3rem;
  padding: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}


